:root {
	--fondo: #f2f2f2;
	--color-temario: #c9c9c9;
    --color-hover: #a0a0a0;
    --color-negro: #000000;
	--temario-active: #ca280c;
	--temario-active-border: #881c09;
    --font-family: "Popins", sans-serif; 
}

html{
    scroll-behavior: smooth;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--fondo);
    color: var(--color-negro);
}

.npm{
    color: var(--color-negro);
    margin: 0px auto;
    max-width: 1500px;
    width: 95%;
    display: grid;
    grid-template-columns: 20% auto;
    font-family: var(--font-family);
    gap: 12rem;
}

.aside{
    padding: 0px 15px;
}

.aside .title{
    margin-bottom: 10px;
}

.contenedor-temario{
    padding-top: 20px;
    position: sticky;
    top: 100px;
}

.aside .lista{
    list-style: none;
    border-left: 2px solid var(--color-temario);
    padding-left: 11px;
    margin-left: 11px;
}

.aside .lista li{
    position: relative;
}

.aside .lista li a{
    display: block;
    color: var(--color-negro);
    padding: 15px 10px;
    text-decoration: none;
    transition: .3s ease all;
}

.aside .lista li.activo a,
.aside .lista li a:hover{
    color: var(--color-hover)
}


.aside .lista li::before{
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background: var(--fondo);
    position: absolute;
    border: 2px solid var(--color-temario);
    top: calc(50% - 6px);
    left: -19px;
    transform: rotate(45deg);
    transition: .3s ease all;
}

.aside .lista li.activo::before{
    background-color: var(--temario-active);
    border: 2px solid var(--temario-active-border);
}

.aside .lista li:hover::before{
    border: 2px solid var(--temario-active-border);
}

.main{
    padding: 0 15px;
}

.introduccion{
    margin-bottom: 25px;
}

.introduccion-description a{
    color: var(--color-negro);
}

.introduccion-title{
    font-size: 50px;
    text-align: center;
    border-bottom: 5px solid #ccc;
    margin-bottom: 40px;
}

.introduccion-description{
    font-size: 20px;
    text-align: left;
}

.content *{
     margin-top: 20px; 
}

.content h3{
    text-align: center;
    font-size: 26px;
    font-weight: 600;
}

.content p{
    text-align: left;
    font-size: 20px;
}

.content a{
    border-bottom: 2px solid var(--color-negro);
}

.content ol{
    margin: 0px 15px;
}

@media screen and (max-width: 767px) {
    .npm{
        grid-template-columns: 1fr; 
        width: 90%;
    }

    .aside{
        display: none;
    }
}