.home-article{
    position: relative;
    background-color: var(--first-color);
    height: 300px;
    width: 100%;
    color: var(--white-color);
}

.home-article__title{
    align-self: flex-start;
    text-align: center;
    line-height: 1.2;
    padding-bottom: 50px;
    padding-top: 50px;
}

.home-article__title span{
    font-weight: 100;
    font-size: 50px;
    text-shadow: 0 20px 25px rgba(0,0, 0, .5);
}

.article-section{
    width: 70%;
    margin: 0 auto;
}

.article-title{
    margin-bottom: 3rem;
    font-weight: 900;
    position: relative;
    font-size: var(--h2-font-size);
    color: var(--dark-color);
    text-align: center;
    border-bottom: 2px solid var(--first-color); ;
}

.paragraph{
    margin: 30px auto;
    font-size: 20px;
    text-align: justify;
    font-weight: 700;
}

.paragraph .emoji{
    font-weight: 100;
    font-size: 20px;
}

.paragraph .bold{
    font-weight: 900;
    color: black
}

.container-image{
    margin: 30px auto;
}

.container-image img{
    margin: 0 auto;
    width: 50%;
}